.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.imageHeight {
  height: 85vh;
  position: relative;
  display: flex;
  align-items: center;
  object-fit: cover;
  z-index: 999;
}
*/ .imageHeight img {
  height: 85vh;
}

.footerSet {
  position: "fixed";
  bottom: 0;
}
.zoomDiv {
  background-color: #3c4257;
  width: "100px";
  height: "100px";
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1;
}

.imageHeight .navigation {
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.react-transform-component {
  justify-content: center;
  min-width: 400px !important;
  max-width: 400px !important;
}

/* Next & previous buttons */
.prev {
  left: -15%;
}

.next {
  right: -15%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .konvajs-content canvas {
  height: 100vh !important;
  width: 100% !important;
}

.konva-height {
  height: 500px;
} */
